
<div align="right">
<% if user_signed_in? %>
  <div align="right" class="btn btn-light">
      <%= link_to '로그아웃', '/users/sign_out', method: :delete %><br>
  </div>
</div>
    
    
<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">글번호</th>
      <th scope="col">제목</th>
      <th scope="col">글쓴이</th>
      <th scope="col">비고</th>
    </tr>
  </thead>
  <tbody>
     <% @posts.each do |p| %>
      <tr>
        <th scope="row"><%=p.id%></th>
        <td><%=p.title%></td>
        <td><%=p.user.email%></td>
        <td><a data-method="get" href="/post/<%=p.id%>">읽기</a></td>
        <% if current_user.id == p.user_id %>
        <td><a href="/edit/<%=p.id%>">수정</a></td>
        <td><a data-method="delete" href="/post/<%=p.id%>">삭제</a></td>
        <% end %>
      </tr>
      <% end %>
  </tbody>
</table>    
    
  
</div>
<br>
<%= paginate @posts %>

    
    
    <div align="right">
        <a href="/post/index" class="btn btn-primary">글쓰기</a>
    </div>
</div>
<div align='right'>
<% else %>
    <a href="/users/sign_in" align="center" class="btn btn-primary">로그인</a>
    <a href="/users/sign_up" align="right" class="btn btn-primary">회원가입</a>
    </div>
    <div align="center">
<% end %>
</div>


<br><br>


